@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif; 
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

section {
    background-color: #e0f4fb;
    height: 100vh;
}

.blue {
    color: #135677;
}

.light-blue {
    color: #1b78a6;
}

/*

NAVIGATION

*/

nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 164px;
    padding: 0 50px;
}

.nav__content--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#blinker-logo {
    display: flex;
    align-items: center;
    width: 180px;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 48px;
    text-decoration: none;
}

.nav__link--anchor {
    font-size: 18px;
    font-weight: 700;
    color: #135677;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #1b78a6;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #1b78a6;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.btn-contact {
    padding: 16px 40px;
    background-color: #135677;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 300ms ease;
}

.btn-contact:hover {
    background-color: #1b78a6;
    text-decoration: none;
    color: white;
}

/* 

LANDING PAGE

*/



.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
    margin: 0 auto;
    letter-spacing: 1px;
}

.title {
    font-size: 60px;
    color: #135677;
    margin: 30px 0;
}

.sub-title {
    font-size: 30px;
    margin-bottom: 80px;
}

.search__input--wrapper {
    display: flex;
    width: 100%;
    height: 70px;
}

.search__input {
    width: 75%;
    padding: 0 25px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
}

.search__input::placeholder {
    color: #1b78a672;
}

.btn__search {
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #135677;
}

.fa-search {
    color: white;
    font-size: 32px;
}

/* 

ANIMATION

*/

.landing__animation--row {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 572px;
    margin: 0 auto;
    overflow: hidden;
}

.animation__content {
    width: 100%;
    margin-top: 60px;
}

.car__container {
    display: flex;
    justify-content: center;
    z-index: 5;
}

.car-chassi {
    position: absolute;
    width: 45%;
    bottom: 62px;
    z-index: 4;
}

.car-wheel {
    position: absolute;
    width: 9%;
    bottom: 25px;
    z-index: 5;
}

.car-wheel__front {
    right: 338px;
}

.car-wheel__rear {
    left: 320px;
}

.road__container {
    display: inline-block;
    justify-content: center;
}

.road__slide {
    display: inline-block;
    /* animation: road-loop 2s linear infinite; */
}

.road__img {
    position: absolute;
    width: 100%;
    z-index: 5;
    bottom: 25px;
}

@keyframes road-loop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.trees-and-lights {
    position: absolute;
    width: 250%;
    bottom: 25px;
    z-index: 3;
}

.clouds {
    position: absolute;
    width: 50%;
    z-index: 1;
}

.city {
    position: absolute;
    width:200%;
    bottom: 25px;
    z-index: 1;
}

.sun {
    position: absolute;
    width: 10%;
    z-index: 2;
}