@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif; 
}

html {
    scroll-behavior: smooth;
    background-color: #e0f4fb;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.blue {
    color: #135677;
}

.light-blue {
    color: #1b78a6;
}

.bright-blue {
    color: #1f96d1;
}

.no-cursor {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

/*

NAVIGATION

*/

nav {
    display: flex;
    align-items: center;
    max-width: 1300px;
    height: 164px;
    padding: 0 50px;
    margin: 0 auto;
}

.nav__content--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blinker__logo {
    display: flex;
    align-items: center;
    width: 160px;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 48px;
    text-decoration: none;
}

.nav__link--anchor {
    font-size: 18px;
    font-weight: 700;
    color: #135677;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #1b78a6;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #1b78a6;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.btn__contact {
    padding: 16px 40px;
    background-color: #135677;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 300ms ease;
}

.btn__contact:hover {
    background-color: #1f96d1;
    text-decoration: none;
    color: white;
}

/* 

LANDING PAGE

*/

header {
    height: calc(100vh - 164px);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
    margin: 0 auto;
    letter-spacing: 1px;
}

.title {
    font-size: 60px;
    color: #135677;
    margin: 30px 0;
    animation: slide-up-fade-in__effect 1200ms ease;
}

.sub-title {
    font-size: 30px;
    margin-bottom: 70px;
    animation: slide-up-fade-in__effect 1600ms ease;
}

.search__input--wrapper {
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 80px;
    animation: fade-in__effect 1400ms ease;
}

.search__input {
    width: 80%;
    padding: 0 25px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
}

.search__input::placeholder {
    color: #1b78a672;
    
}

.btn__search {
    width: 20%;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #135677;
    color: white;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn__search:hover {
    background-color: #ffbf73;
}

.btn__search:active {
    transform: scale(0.95);
}

.fa-search {
    font-size: 32px;
}

@keyframes slide-up-fade-in__effect {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in__effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 

ANIMATION

*/

.landing__animation--row {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 572px;
    overflow: hidden;
    animation: fade-in__effect 2500ms ease;
}

.animation__content {
    width: 100%;
}

.car__container {
    display: flex;
    justify-content: center;
}

.car-chassi {
    position: absolute;
    width: 530px;
    bottom: 50px;
    z-index: 75;
    animation: car-riding__loop 800ms infinite linear;
}

.car-wheel__img {
    position: absolute;
    width: 110px;
    bottom: 5px;
}

.car-wheel__front {
    right: 312px;
    z-index: 100;
}

.car-wheel__rear {
    left: 312px;
    z-index: 100;
}

@keyframes car-riding__loop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.road__container {
    white-space: nowrap;
}

.road__slide {
    display: inline-block;
    width: 100%;
    animation: ani__loop 2s linear infinite;
    margin: 0 5px;
}

.road__img {
    position: absolute;
    width: 100%;
    bottom: -500px;
}

.tree-and-lights__container {
    white-space: nowrap;
}

.tree-and-lights__slide {
    display: inline-block;
    width: 100%;
    animation: ani__loop 3.5s linear infinite;
}

.tree-and-lights__img {
    position: absolute;
    width: 1000px;
    bottom: -472px;
}

.city__container {
    white-space: nowrap;
}

.city__slide {
    display: inline-block;
    width: 100%;
    animation: ani__loop 10s linear infinite;
}

.city__img {
    position: absolute;
    width:1000px;
    bottom: -458px;
    z-index: 1;
}

.clouds__container {
    white-space: nowrap;
}

.clouds__slide {
    display: inline-block;
    width: 100%;
    animation: ani__loop 20s linear infinite;
}

.clouds__img {
    position: absolute;
    width: 700px;
    bottom: -48px;
    z-index: 0;
}

@keyframes ani__loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.sun__container {
    display: flex;
    justify-content: center;
}

.sun__img {
    position: absolute;
    width: 100px;
    z-index: 1;
    top: 0;
    animation: sun__loop 5s infinite linear;
}

@keyframes sun__loop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* FIND YOUR CAR */

/* 

NAVBAR

*/

.nav__fyc {
    height: 112px;

}

.navbar__container {
    position: relative;
    background-color: #135677df;
    padding: 0 15px 40px 15px;
    height: 332px;
    overflow: hidden;
}

.nav-bar__img--overlay {
    position: absolute;
    width: 100%;
    z-index: -10;
    left: 0;
    bottom: -150px;
}

.nav__link--white {
    color: white;
}

.nav__link--white:hover {
    color: white;
}

.link__hover-effect--white:after {
    background-color: white;
}

.btn__contact-fyc {
    background-color: #1b78a6;
}

.btn__contact-fyc:hover {
    background-color: #ffbf73;
}

.fyc__title {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
    margin:0 0 40px;
}

.search__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.search__container {
    margin: 0 auto;
}

.search__title {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 12px 0 32px 0;
}

.search__input--container {
    position: relative;
    height: 60px;
}

.search__fyc-input {
    position: absolute;
    width: 100%;
    height: 60px;
    border-radius: 50px;
}

.btn__fyc-search {
    position: absolute;
    color: #1b78a6;
    background-color: transparent;
    padding: 0 20px 0 8px;
    margin: 0;
    width: 60px;
    height: 60px;
    right: 0;
}

.btn__fyc-search:hover {
    background-color: transparent;
    color: #ffbf73;
}

/* 

SEARCH

*/

#search {
    position: relative;
    padding: 40px 20px;
}

.progress__buffer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #1f96d171;
}

.filter__content--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    height: 75px;
}

.search-info {
    font-size: 28px;
    color: #135677;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.price-filter__container {
    width: 348px;
    height: 75px;
}

.price-range {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    color: #1f96d1;
}

.slider__runway--container {
    position: relative;
    width: 100%;
    height: 6px;
    margin: 22px 0;
    background-color: #1f96d13d;
}

.slider__bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f96d1;
}

.slider__button--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -13px;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    /* background-color: #ffbf73; */
}

.left-slider__button {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50px;
    border: 6px solid #1f96d1;
    background-color: white;
    z-index: 100;
}

.right-slider__button {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50px;
    border: 6px solid #1f96d1;
    background-color: white;
}

.right-slider {
    left: 100%;
}

.car__list--container {
    padding: 40px 0 0;
}

.cars__content--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.car__card {
    width: 352px;
    height: 500px;
    border-radius: 10px;
    margin: 24px;
    border: 4px solid #1f96d11d;
    overflow: hidden;
    transition: all 300ms ease;
}

.car__card:hover {
    box-shadow: -8px 8px 20px #1356771b;
    transform: translateY(-4px);
}

.car__card--container {
    position: relative;
    width: 100%;
    height: 100%;
}

.car__img--container {
    height: 50%;
    overflow: hidden;
}

.car__img--wrapper {
    width: 100%;
    top: 0;
    left: 0;
    transition: all 300ms ease;
}

.car__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    bottom: 0;
    padding: 24px 32px;
}

.car__name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.car-specs__container {
    margin-bottom: 20px;
}

.car__spec {
    display: flex;
    line-height: 34px;
}

.spec__img {
    width: 40px;
    color: #1f96d171;
}

.spec__info {
    font-size: 16px;
    font-weight: 400;
}

.car__price {
    font-weight: 700;
    font-size: 22px;
}

/* 

RESPONSIVENESS

*/

/* LARGE DESKTOPS AND LAPTOPS */

@media (max-width: 1920px) {
    
}

/* 



*/